table {
    border-collapse: collapse;
    border: 1px solid #555;
}
table thead {
    background: #333;
    color: white;
}
table th,
table td {
    padding: .3em .5em;
}
table tbody tr:nth-child(odd) {
    background: #EEE;
}
.toolbar {
    margin-bottom: 10px;
}
.toolbar > button,
.toolbar > a {
    display: inline-block;
    text-decoration: none;
    color: #333;
    background: #EEE;
    padding: .3em .5em;
    font: 16px Arial;
    margin-right: 1em;
}